body { 
    /*For fixed navbar*/
    padding-top: 70px; 
    background-image: repeating-linear-gradient(135deg, rgba(255,255,255,0.04) 0px, rgba(255,255,255,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(0deg, rgb(30, 35, 121),rgb(45, 106, 187));
}


.light-background {
    background-color: rgba(255, 255, 2555, 0.2);
}

.form-transparent-background{
    background-color: rgba(0,0,0,0);
    border: 0px;
    outline: none;
    width: 100%;
    max-height: 350px;
    min-height: 25px;
}