<table class="table table-sm  light-background" style="table-layout: fixed; word-wrap: break-word;">
    <thead>
        <tr>
            <th class="text-center" style="width: 5%">
                Nº
            </th>
            <th style="width: 25%">
                Title
            </th>
            <th style="width: 65%">
                Description
            </th>
            <th class="text-center" style="width: 5%">
                &nbsp;
            </th>
        </tr>
    </thead>
    {% for idea in ideas %}
        <tr>
            <td class="text-center">
                {{idea.id}}
            </td>
            <td>
                {{idea.title}}
            </td>
            <td>
                {{idea.description}}
            </td>
            <td class="text-center">
                <a href="{{ path('ideas_delete', { 'id': idea.id }) }}" ><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    {% endfor %}
</table>
