{% extends 'base.html.twig' %}

{% block nav_link_homepage %} active {% endblock nav_link_homepage %}

{% block body %}
    <div class="row h-100 homepage_text">
        <div class="col-md-6 my-auto pr-5">
            <h1>
                Credits
            </h1>
            <p>
                This page could not have been done if it wasn't for <a class="glowing_text" href="https://codeburst.io/make-a-magic-the-gathering-card-in-css-5e4e06a5e604">THIS TUTORIAL</a>.
            </p>
            <p>
                That being said, I did this page as a challenge, to see how well I could set realistic goals, and if I could reach them.
            </p>
            <p class="text-italic text-right">
                - Aoshido
            </p>
            <h1>
                Other sources 
            </h1>
            <ul>
                <li><a href="https://symfony.com/">Framework</a></li>
                <li><a href="https://getbootstrap.com/">Front end</a></li>
                <li><a href="https://www.gradientmagic.com/">Background</a></li>
                <li><a href="https://www.stockio.com/free-icon/brainstorm">Icon</a></li>
                <li><a href="https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height">SO1</a></li>
            </ul>
        </div>
        <div class="col-md-6 my-auto pl-5">
            <h1 class="mt-5">
                F.A.Q.
            </h1>
            <ul>
                <li> Can we have all/other color cards (WURBG)? </li>
                <p class="font-italic"> No, <a href="https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=489717">Brainstorm</a> is blue. There will come a time when red can brainstorm, and at that time I will delete this page into oblivion</p>
                <li> Favorite flavor? </li>
                <p class="font-italic">"What you made will be unmade. What you learned will be unlearned. And when you're done, you will be undone."
                    <a href="https://gatherer.wizards.com/Pages/Card/Details.aspx?multiverseid=36414">(Envelop)</a>
                </p>
            </ul>
        </div>
    </div>
{% endblock %}
