{% extends 'base.html.twig' %}

{% block title %}Pick!{% endblock %}

{% block nav_link_draw %} active {% endblock nav_link_draw %}

{% block body %}
    <div class="row">
        {% for idea in brainstorm %}
            <div class="col-md-4 pb-5">
{#                <div style="max-width: 75%">#}
                    {% include 'card.html.twig' with {'idea': idea , 'card_number':  loop.index } %}
{#                </div>#}
            </div>
        {% endfor %}
    </div>
{% endblock %}
