{% extends 'base.html.twig' %}

{% block nav_link_draw %} active {% endblock nav_link_draw %}

{% block body %}
    <div class="row">
        {% for idea in brainstorm %}
            <div class="col-lg-4">
                {% include 'card.html.twig' with {'idea': idea , 'card_number':  loop.index } %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
