{% extends 'base.html.twig' %}

{% block nav_link_homepage %} active {% endblock nav_link_homepage %}

{% block body %}
    <main class="inner cover text-center">
        <h1 class="cover-heading">Brainstorm</h1>
        <p class="lead">el pipo esta gordo</p>
    </main>
{% endblock %}
